{% extends "layout.html" %}

{% block body %}

<form action="/add" method="post">
    <input id="task" type="text" name="newtask">
    <input id="submit" type="submit" disabled>
</form>

<script>
    document.getElementById("task").onkeyup = function() {
        if (document.getElementById("task").value === "") { //If input field is empty, disable the submit button
            document.getElementById("submit").disabled = true;
        }
        else {
            document.getElementById("submit").disabled = false;
        }
    }

</script>

{% endblock %}