{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<main class="container p-5">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>{{totalValue}}</td>
            </tr>
        </tfoot>
        <tbody>


            {% for share in index %}
            <tr>
                <td>{{ share["symbol"] }}</td>
                <td>{{ share["name"] }}</td>
                <td>{{ share["SUM(shares)"] }}</td>
                <td>${{ share["AVG(current_price)"] }}</td>
                <td>{{ "$%.2f"|format(share["SUM(shares)"] * share["AVG(current_price)"]) }}</td>
            </tr>
            {% endfor %}


            <tr>
                <td colspan="4">CASH</td>
                <td>{{cash}}</td>
            </tr>
        </tbody>
    </table>

        </main>
{% endblock %}
