{% extends "layout.html" %}

{% block body %}

<h1>Register</h1>

<form action="/register" method="post"> <!--Submitting data-->
    <input id="name" type="text" name="name" placeholder="Name">
    <input id="email" type="email" name="email" placeholder="Email Address">
    <input id="submit" type="submit" disabled>
</form>

<script>
    document.getElementById("name").onkeyup = function() {
    name = document.getElementById("name").value
    email = document.getElementById("email").value
    submit = document.getElementById("submit")

    if (name === "" || email === "") {
        submit.disabled = true;
    }
    else {
        submit.disabled = false;
    }
    }



</script>



{% endblock %}

